div {
	
	font-family: 'Archivo Narrow', sans-serif;
	color: black;
	
	margin-left: 0,5em;

}

h1 {
	font-family: 'Archivo Narrow', sans-serif;
	color: #d300ff;
	font-size: 20px;
    text-align: center;
    position: relative;
}
