body {
	float: left;
	font-family: "Arial";
	color: black;
	font-size: 1em;
	width: 100%;
	margin-left: 4em;
}

h1 {
	color: #B40404;
	font-size: 2em;
}

h2 {
	font-size: 1.2em;
}

input:invalid {
	background: #FA5858;
}

label::after {
	display: block;
}

	body{ 
   
  font-family: 'Pacifico', cursive;
}
	
}


input {
	margin: 0.5em;
}

button {
	background-color: #F78181;
	color: white;
    padding: 0.3em;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    margin: 0.02em;
    cursor: pointer;
}
#daten input {
	display: block;
	height: 10%;
	width: 15%;
}

#zusammenfassung {
	position: fixed;
	right: 0em;
	top: 0em;
	color: white;
	padding: 1em;
	background-color:#B40404;
	
}

.wk {
	font-size: 1.2em;
	
}
 